<!DOCTYPE html>
<html>
    <head>
        <title>App_one</title>
        <link rel="stylesheet" type="text/css" href="" />
    </head>
    <body>
        <h1>
            Welcome onboard passengers of App_one 
        </h1>
        <p>Let's fill in some more details to get you started</p>
        <div class="detail">
        <form method="post" action="/step_one">
            {% csrf_token %}
            <div class ="label">
            <label>Name : </label>
            </div>
            <div class="input-field">
            <input type="text" name="username" value="{{username}}">
            </div>

            <div class ="label">
            <label>Age : </label>
            </div>
            <div class="input-field">
            <input type="text" name="age" value="{{age}}">
            </div>

            <div class ="label">
            <label>Nationality : </label>
            </div>
            <div class="input-field">
            <input type="text" name="nationality" value="{{nationality}}">
            </div>

            <div class ="label">
            <label>Alias : </label>
            </div>
            <div class="input-field">
            <input type="text" name="alias" value="{{alias}}">
            </div>

            <input type="submit" value="Let's go">
        </form>
        </div>
        <div class="error">
            {{error}}
        </div>
    </body>
</html>