<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link href="../../static/App_one/index.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h2>
            {{username}}
        </h2>
        <div class="intro">
        <p><pre>
            Welcome to the app_one {{username}}.
            Shortly you will be stepping into a world of apps, starting with app_one.
            Fasten your seatbelts. You're in for a ride.
        </pre></p>
        <a href="/next/{{username}}/">Let's roll onto next page</a>
        </div>

        <div class="image row">
            <div class="col-4">
                <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/37B5/production/_89716241_thinkstockphotos-523060154.jpg" alt="Image1"/>
            </div>
            <div class="col-4">
                <img src="https://lh3.googleusercontent.com/43lw2qvGUm38q0XeW_S4eIEPQWlYs2jvrsao5fHlikUPpEJZsfHt_MBqmgedg0AECHbO=w300" alt="Image2"/>
            </div>
            <div class="col-4">
                <img src="https://s-media-cache-ak0.pinimg.com/originals/f5/9b/1b/f59b1b0cc430702e82dea90780d7f87d.gif" alt="Image3"/>
            </div>
        </div>
    </body>
</html>